{% extends 'base.html' %}
{% block content %}
    <h1>Create a new task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
{% comment %} comment {% endcomment %}
{% endblock content %}
